
<% include partials/header %>

<div class="panel-login">
	<hr>
	<h2 class="headerpage">Login Express Passport</h2>

	<div class="form-login">

		<form action="/logout" method="GET">
            <div class="col-sm-12">
                <button type="submit">Logout</button>
            </div>
		</form>
	</div>
</div>
<% include partials/footer %>